
.adventure-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 50px;
    
}
.adventure-header{
    justify-content: center;
    text-align: center;
}

.adventure-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 100%;
}

.adventure-images-card{
    display: flex;
    flex-direction: column;
    border: 1px solid #D7D7D7;
    padding: 10px;
    border-radius: 15px;
}

.info{
    display: flex; 
    justify-content: space-between;
    padding: 0;
}

.info>p {
    font-size: 12px;
    font-family: 'Red Rose';
    margin: 8px 4px;
}

.info>img{
    margin-left:4px ;
}

.header{
    font-family: 'Red Rose'
}

@media (max-width: 1000px) {
    .adventure-images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-gap: 20px;
    }
}    

@media (max-width: 950px) {
    .adventure-images{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 20px;
    }
}     

@media (max-width: 400px) {
    .adventure-images{
        display: grid;
        grid-template-columns: 1fr ;
    }
}  