
.heading{
    margin: 0;
    padding: 50px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    
    justify-content: space-between;

}

.heading li{
    list-style: none;
}

.heading li a {
    text-decoration: none;
    color: black;
}